asyncpg==0.31.0
fastapi==0.135.1
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
python-dotenv==1.2.2
SQLAlchemy==2.0.48
sqlmodel==0.0.37
uvicorn[standard]==0.41.0
aiosqlite
confluent-kafka==2.3.0
injector
websocket-client
fastapi_injector
langchain
langchain-ollama
langchain-text-splitters
langchain-community
pymupdf